.container-task1{
    position: absolute;
   top: 20%;
   width: 100%;
   height: 4%;
background-color:#f7ff81;
border-radius: 10%;
//     border-radius: 4%;
 }

.ul-items{
    background-color: rgb(201, 224, 163);
}



span {
    content: "\002B";
    padding-left: 55%;
    font-size: 4em;
    position: absolute;
    text-size-adjust: 20%;
    top: 15%;
    left: -8%;
    height: 30%;
}



//.form-container{
    // padding-left: 55%;
    // position: absolute;
    // top: 50%;
    // left: -6%;
    // width: 500px;
//}