.container-task{
    width: 300px;
    top: 40%;
    background-color: '#FFFFFF';
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.ul-items{
    top: 100%;
    position: absolute;
}

.div-list-details{
    display: none;
}