.p-title{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
color: #000;
margin: 10px;
}
.p-subtitle-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #000;
    margin: 10px;
}
.card{
    width: 400px;
    height: 100px;
    background-color: #E3E4E6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}